services:
  db:
    build: ./db
    container_name: news-db
    environment:
      - ENV=production
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - internal
    healthcheck:
      test: ["CMD-SHELL", "pg_isready --quiet -U postgres -d news_db"] # Update these when in prod do not push
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: news-backend
    env_file:
      - ./backend/.env.production
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - backend_media:/app/media
    networks:
      - internal
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: news-frontend
    env_file:
      - ./frontend/.env.production
    depends_on:
      - backend
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
    networks:
      - internal
    restart: unless-stopped

networks:
  internal:
    driver: bridge

volumes:
  db_data:
  backend_media: